@{
    ViewBag.Title = "About";
}
<h2>Информация</h2>
<h3>Данный проект является результатом работы на практике</h3>
<h3>Основная идея проекта:</h3>
<p>
    Платформа с услугами. Где каждый желающий сможет предоставить услугу, либо услуги, в соответствии с имеющимися на сайте. Так же, каждый желающий сможет свободно найти человека,
    который предоставляет необходимую услугу.
</p>
<h3>Ближайший аналог:</h3>
<p>В настоящее время аналогом и основным конкурентом является онлайнер.</p>
<p><a class="btn btn-default" href="https://s.onliner.by/tasks">Learn more &raquo;</a></p>


