
@{
    ViewBag.Title = "Category";
}

<h2>Category</h2>


<div class="row">
    <link rel="stylesheet" href="../Content/FirstScene.css">
    <script src="../scripts/FirstScene.js"></script>
    <div class="body-content">
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>Some text in the Modal..</p>
            </div>

        </div>
        <ol class="rectangle">
            <li><a href="#">Элемент списка</a></li>
            <li><a href="#">Элемент списка</a></li>
            <li><a href="#">Элемент списка</a></li>
            <li><a href="#">Элемент списка</a></li>
            <li><a href="#">Элемент списка</a></li>
        </ol>
    </div>
</div>



