@{
    ViewBag.Title = "Category";
}

<h2>Category</h2>


<div class="row">
    <link rel="stylesheet" href="../Content/FirstScene.css">
    <script src="../scripts/FirstScene.js"></script>

    <div class="scrollmenu">
        <a href="#">Категория 1</a>
        <a href="#">Категория 2</a>
        <a href="#">Категория 3</a>
        <a href="#">Категория 4</a>
        <a href="#">Категория 5</a>
        <a href="#">Категория 6</a>
        <a href="#">Категория 7</a>
        <a href="#">Категория 8</a>
        <a href="#">Категория 9</a>
        <a href="#">Категория 10</a>
        <a href="#">Категория 11</a>
        <a href="#">Категория 12</a>
        <a href="#">Категория 13</a>
        <a href="#">Категория 14</a>
        <a href="#">Категория 15</a>
        <a href="#">Категория 16</a>
        <a href="#">Категория 17</a>
        <a href="#">Категория 18</a>
    </div>
    <ol class="rectangle">
        <li><a href="#">Услуга 1</a></li>
        <li><a href="#">Услуга 2</a></li>
        <li><a href="#">Услуга 3</a></li>
        <li><a href="#">Услуга 4</a></li>
        <li><a href="#">Услуга 5</a></li>
    </ol>

</div>




