@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>WebServicePlatform</h1>
        <p class="lead">WebServicePlatform this is my job</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

        <link rel="stylesheet" href="../Content/FirstScene.css">
        <script src="../scripts/FirstScene.js"></script>

        <button id="myBtn">Войти</button>
        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>

                <div class="tab">
                    <button class="tablinks" onclick="openTab(event, 'Authorization')" id="defaultOpen">Authorization</button>
                    <button class="tablinks" onclick="openTab(event, 'Registration')">Registration</button>
                </div>

                <div id="Authorization" class="tabcontent">
                    <h3>Authorization</h3>
                    <div class="container">
                        <label for="uname"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="uname" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>

                        <p><h4><button type="submit">Login</button></h4></p>
                    </div>

                </div>

                <div id="Registration" class="tabcontent">
                    <h3>Registration</h3>
                    <div class="container">
                        <label for="uname"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="uname" required>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw" required>

                        <p><h4><button type="submit">Login</button></h4></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
  



<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>