@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="../Content/FirstScene.css">
<script src="../scripts/FirstScene.js"></script>
<link rel="stylesheet" href="../Content/TextBord.css">


    <div class="jumbotron">
        <h1>WebServicePlatform</h1>
        <p class="lead">Исходный код проекта:</p>
        <p><a href="https://github.com/KevinPozitive/ServisePlatform" class="btn btn-primary btn-lg">GitHub &raquo;</a></p>



    </div>


    <div class="content">
        <p class="lead">Используемые технологии:</p>
        <div class="row">
            <div class="col-md-4">
                <h2>ASP.NET MVC5</h2>
                <p>
                    Платформа ASP.NET MVC представляет собой фреймворк для создания сайтов и веб-приложений с помощью реализации паттерна MVC.
                </p>
                <p><a class="btn btn-default" href="https://metanit.com/sharp/mvc5/">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>EntityFramework</h2>
                <p>
                    Entity Framework Core (EF Core) представляет собой объектно-ориентированную, легковесную и расширяемую технологию от компании Microsoft для доступа к данным.
                </p>
                <p><a class="btn btn-default" href="https://metanit.com/sharp/entityframeworkcore/">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>MS SQL Server</h2>
                <p>
                    SQL Server является одной из наиболее популярных систем управления базами данных (СУБД) в мире. Данная СУБД подходит для самых различных проектов: от небольших приложений до больших высоконагруженных проектов.
                </p>
                <p><a class="btn btn-default" href="https://metanit.com/sql/sqlserver/1.1.php">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>